<div class="all">

  <mat-progress-bar *ngIf="mode" [mode]="mode"></mat-progress-bar>

  <div class="middle-body">
    <img src="assets/images/login/title-login.png">

    <div class="login-form">
      <div class="login-title">
      <h1 i18n="@@uhis.LogIn">Log In</h1>
      </div>

      <div class="form-login">

              <input class="form-control" [(ngModel)]="username" type="text" i18n-placeholder="@@uhis.UserName" placeholder="User Name">
              <input class="form-control" [(ngModel)]="password" type="password" i18n-placeholder="@@uhis.Password" placeholder="Password">
              <div class="row-form">
              <!-- <input type="checkbox" value="remember"><label i18n="@@uhis.Remember">Remember</label> -->

              <button type="submit" (click)="login(username,password)" class="btnIniciar" i18n="@@uhis.Accept" mat-flat-button>Accept</button>
            </div>
      </div>

    </div>
  </div>

</div>
