.nav-option-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
  }
  
  .title {
    font-size: 29px;
  }
  
  .subtitle {
    font-size: 12px;
    color: gray;
  }

  mat-card.nav-option-menu.mat-card {
    width: 350px;
    height: 301px;
  }